/*6.页脚*/
#footer {
	height: 184px;
	background-image: url(../images/footer_bg.png);
}

	#footer  #footerCon {
		padding-top: 40px;	
	}
	#footer  #footerCon #companyInfo {
		padding-left: 90px;
		color: #fff;
	}
	
	#footer  #footerCon #companyInfo h3 {
		margin-bottom: 10px;
	}
	
#footer  #footerCon #companyInfo span {
	display: inline-block;
	margin-top: 20px;
	
	color: #666;
}
