<!doctype html>
<html data-framework="vue">
	<head>
		<meta charset="utf-8">
		<title>Vue.js • TodoMVC</title>
		<link rel="stylesheet" href="lib/todomvc-common/base.css">
		<link rel="stylesheet" href="lib/todomvc-app-css/index.css">
		
		<script src="lib/vue.js" type="text/javascript" charset="utf-8"></script>
		
	</head>
	<body>
		<section class="todoapp">
      <!-- 顶部输入框 -->
			<header class="header">
				<h1>todos</h1>
				<input class="new-todo" autofocus autocomplete="off" placeholder="What needs to be done?" v-model="newTodo" @keydown.enter="addTask">
			</header>
			<section class="main">
				<input class="toggle-all" type="checkbox" />
				<ul class="todo-list" v-show="todos.length">
					<!-- <li :class="{completed:todo.completed}" v-for="(todo,index) in todos"> -->
					<li :class="{completed:todo.completed}" v-for="(todo,index) in filterTodos">
						<div class="view">
							<input class="toggle" type="checkbox" v-model="todo.completed" @click="changeTaskState">
							<label>{{todo.title}}</label>
							<button class="destroy" @click="removeTodo(index)"></button>
						</div>
						<input class="edit" type="text">
					</li>
				</ul>
			</section>
			<footer class="footer" >
				<span class="todo-count">
					<strong></strong>0 left
				</span>
				<ul class="filters">
					<li><a href="#" :class="{selected: visiable==='all'}" @click="changeVisiable('all')">All</a></li>
					<li><a href="#" :class="{selected: visiable==='active'}" @click="changeVisiable('active')" >Active</a></li>
					<li><a href="#" :class="{selected: visiable==='completed'}" @click="changeVisiable('completed')" >Completed</a></li>
				</ul>
				<button class="clear-completed">
					Clear completed
				</button>
			</footer>
		</section>
		<footer class="info">
			<p>Double-click to edit a todo</p>
			<p>Written by <a href="http://evanyou.me">Evan You</a></p>
			<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
		</footer>
		
		<script type="text/javascript">
			new Vue({
				el: '#app',
				
				data: {
					
				}
			});
		</script>
		
	</body>
</html>

