/*1.右侧统一样式*/
#mRight{
	width: 295px;
	padding: 17px;
	margin-left: 17px;
	background-color: white;
}


	/*1.1 右侧h3样式*/
	#mRight h3{
		font-weight: normal;
		height: 54px;
		border-bottom: solid 1px #F2F2F2;
		margin-top: 30px;
	}
	
		/*1.1.1 h3第一个子元素的单独样式*/
		#mRight h3:nth-child(1){
			font-weight: normal;
			height: 54px;
			border-bottom: solid 1px #F2F2F2;
			margin: 0px 0px;
		}


	/*1.2 网页分类:列表样式*/
	#webSort{
		margin-top: 10px;
	}
		/*1.2.1 子列表样式*/
		#webSort li, #webList li{
				width: 140px;
				height: 30px;
				text-align: center;
				background-color: #F8F8F8;
				margin: 3px;
				float: left;
			}


	/*1.3控制面板样式*/
	#panel{
		margin-top: 10px;
	}
	
	
	/*1.4右侧网页搜索整体（去边框样式参见header）*/
	.webDiv{
		width: 300px;
		height: 30px;
	}
	
		/*1.4.1网页搜索input整体*/
		.webDiv input{
			height: 30px;
		}
		
			/*1.4.1.1第一个input样式整体*/
			.webDiv input:nth-child(1){
				width: 245px;
			}
			
			/*1.4.1.2第二个input样式整体*/
			.webDiv input:nth-child(2){
				width: 55px;
				background-color: #00a7ea;
				color: white;
			}
			
	/*1.5留言样式*/
	.webNotes{
		padding-top: 10px;
		padding-bottom: 10px;
		border-bottom: dashed 1px #666;
	}
	
	.webNotes .tirText{
		padding-left: 10px;
	}
	
	.webNotes .triangle{
		color: white;
		background-color: #00A7EA;
		
		font-size: 16px;
		width: 52px;
		height: 20px;
		line-height: 20px;
		
		text-align: center;
		position: relative;
	}

		.webNotes .triangle:after{
			content: "";
			width: 0;
			height: 0;
			display: block;
			
			border: solid 8px transparent;
			border-left-color: #00A7EA;
	
			position: absolute;
			left: 48px;
			top: 2px;
		}
		
	/*1.6热门文章*/
	#webHot{
		font-size: 14px;
		margin: 20px 2px;
	}
	
		#webHot li{
			padding: 20px 0;
			border-bottom: dotted 1px #666;
		}
		
		#webHot li:nth-child(1){
			padding-top: 0;
			padding-bottom: 20px;
		}
		
		#webHot li a{
			background: url(../images/list.png) no-repeat left;
			padding-left: 10px;
		}
	
		#webHot li span{
			background: url(../images/icon.png) no-repeat 2px -13px;
	    	display: inline-block;
	    	margin-left: 7px;
	    	padding-right:20px ;
	    	text-indent: 25px;
		}
		
		#webHot li span:nth-child(4){
			background-position: 2px -45px;
		}
		
